# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Player Movement Valid

This test will show the player movement functioning, player movement consists of players moving through different scenes
and levels.

### Test Data To Use

Details of test data and reasons for selection.

- Valid Inputs
    - Moving through the map using NSEW buttons where they are in the bounds of the map.
    - Moving through the levels using the B button when they are in the right location.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

